.appFooter {
  height: 32px;
  padding: 0 20px;
  background: #007acc;
  border-top: 1px solid #000000;
  display: flex;
  align-items: center;
}

.statusBar {
  display: flex;
  gap: 20px;
  width: 100%;
  font-size: 12px;
  color: #ffffff;
}

.statusItem {
  white-space: nowrap;
}

.statusItem:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #000000;
  margin-left: 20px;
}
