.menuBar {
  background-color: #252526;
  border-bottom: 1px solid #454545;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  user-select: none;
}

.menuButton {
  background: transparent;
  border-color: transparent;
  color: #cccccc;
  line-height: 1;
  border-radius: 0;
}

.menuButton:hover {
  background-color: #2a2d2e !important;
  color: #ffffff !important;
  border-color: transparent !important;
}

.menuButton:focus {
  outline: none;
}

.menuButton:active {
  background-color: #0e639c !important;
  color: #ffffff !important;
  border-color: transparent !important;
}
